body {
    background-color: greenyellow;
    font-family: 'Times New Roman', Times, serif
}

header {
    text-align: center;
    background-color: black;
    color: brown;
    padding: 1%;
    margin: auto;
    border-radius: 50%;
    font-family: 'beteNoir';
}
footer{
    text-align: center;
    padding-bottom: 0%;
    margin: auto;
}
h2{
    color: rgb(55, 0, 255);
    font-weight: 600px;
}
section {
    padding: 20px;
    background-color: #5d5a5a;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, alpha(0.1));
    padding: 24px;
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s ease;
}
section:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    background-color: antiquewhite;
}